.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.information {
  display: flex;
  column-gap: 16px;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid rgba(34, 35, 37, 0.7);
  max-width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.station {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.volume {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: 8px;
}

.volume input { 
  outline: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  margin: 0px;
}

/* .volume input[type="range"]::-moz-range-thumb,  */
.volume input[type="range"]::-webkit-slider-thumb {
   appearance: none;
   height: 16px;
   width: 16px;
   border-radius: 100%;
   box-shadow: rgb(0 0 0 / 50%) 0px 0px 6px inset;
   background: rgba(255,255,255, 1);
   transition: transform 200ms ease-in-out 0s;
}

.volume input[type="range"]:focus::-webkit-slider-thumb,
.volume input[type="range"]:hover::-webkit-slider-thumb {   
  transform: scale(1.1);
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  row-gap: 8px;
}

.header h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.header h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  overflow: hidden;
  object-fit: cover;
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0;
  width: clamp(40px, 8vw - 2rem, 4.75rem);
  height: clamp(40px, 8vw - 2rem, 4.75rem);
  box-sizing: border-box;
  border: 0.5px solid rgba(255,255,255, 0.5);
  border-radius: 100%;
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: transform;
  outline: 0;
  cursor: pointer;
}

.playButton:hover {
  transform: scale(1.2);
}


@media only screen and (max-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .station {
    flex: 1 0;
  }

  .controls {
    flex: 1 0;
    align-items: center;
    justify-content: center;
  }

  .volume {
    display: none;
  }
}