.requestStation {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: white;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 200ms linear;
}

.requestStation:hover {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  align-items: flex-end; 
}

.form hr {
  width: 100%;
  border: var(--border);
}

.form button {
  padding: 12px 8px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid rgb(63,63,70);
  border-radius: 8px;
  background-image: linear-gradient( to top right, rgb(24 24 27), rgb(39 39 42) );
  color:rgb(161 161 170);
  min-width: 8rem;
  cursor: pointer;
}

.form button:hover {
  filter: brightness(0.95);
}

.form span {
  font-size: 12px;
  font-weight: 300;
  font-family: sans-serif;
  color: #ff9900;
}

.form .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
}

@media only screen and (max-width: 480px) {
  .form .row {
    flex-direction: column;
  }
}